.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mat-mdc-card-header {
  flex-direction: column;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 47px;

  .mat-icon {
    font-size: 447px;
    color: #3f51b5;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin-bottom: -32%;
    align-items: center;
    display: contents;
  }

  h1 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-top: 0;
    margin-bottom: 3px;
  }

  h2 {
    font-size: 16px;
    color: black;
    margin-top: 0;
    margin-bottom: -8px;
  }
}

.no-results-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex-direction: column;
  margin-top: -46px;
}

.fund-list {
  width: 100%;
}
