<!-- Success and data fetched -->
<mat-card *ngIf="!isLoading" class="main-container">
  <!-- Header -->
  <mat-card-header class="header-content">
    <mat-toolbar class="custom-color">
      <span><h1>CROSSKEY</h1></span>
      <mat-icon class="fav-icon">star</mat-icon>
      <span class="show-favourites" (click)="showFavourites()">Favourites</span>
      <span class="show-all" (click)="showAll()">All</span>
    </mat-toolbar>

    <!-- Search Component-->
    <app-search></app-search>
  </mat-card-header>

  <!-- Fund List Component -->
  <app-fund-list [allFunds]="allFunds$ | async"></app-fund-list>
</mat-card>

<!-- Fetching -->
<ng-container *ngIf="isLoading">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
    Loading..
  </div>
</ng-container>
<!-- Error -->
<ng-container *ngIf="!isLoading && isError">
  <div>Error loading data. Please try again.</div>
</ng-container>
