<!-- Success and data fetched -->
<mat-card *ngIf="!isLoading" class="main-container">
  <div class="header-content">
    <app-search></app-search>
    <app-filter [fundsArr]="allFunds$ | async"></app-filter>
  </div>
  <div class="grid-container" *ngIf="!isZeroResults" >
    <app-fund-list [fundsArr]="allFunds$ | async" class="fund-list"></app-fund-list>
  </div>
</mat-card>
<!-- Fetching -->
<ng-container *ngIf="isLoading">
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
    Loading..
  </div>
</ng-container>
<!-- No results -->
<ng-container *ngIf="isZeroResults">
  <div class="no-results">
    <mat-icon>search</mat-icon>
    <div class="no-results-text">
      <h1>No Results Found</h1>
      <h2>We've searched through {{(allFunds$ | async)?.length}} funds</h2>
      <h2>We did not find any match</h2>
      <h2>Try some other keywords</h2>
    </div>
  </div>
</ng-container>
<!-- Error -->
<ng-container *ngIf="!isLoading && isError">
  <div>Error loading data. Please try again.</div>
</ng-container>
