.header-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mat-mdc-card-header {
  flex-direction: column;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
}

.fund-list {
  flex: 1;
  order: 0;
}

.fund-details {
  flex: 1;
  order: 1;
  max-width: 700px; /* Adjust the value based on your design */
  margin: 0 auto; /* Center the element horizontally */
}
