  <mat-form-field class="search-field" appearance="fill">
    <!-- Search input -->
    <input
      #searchInput
      (keyup.enter)="search()"
      (input)="onInputChange($event)"
      matInput
      placeholder="Search funds by ISIN, name, type, company"
      class="search-input"
    />
    <button mat-button matSuffix *ngIf="!showCancelButton" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-button matSuffix *ngIf="showCancelButton" (click)="clearInput()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

   <!-- Search result -->
  <div class="search-result-for" *ngIf="searchQuery.length > 0">
    <p><strong>Search result for:</strong></p>
    <div *ngFor="let item of searchQuery" class="search-item-results">
        <div class="search-item">
            {{ item }}
        </div>
        <button
          mat-button
          matSuffix
          (click)="resetSearch(item)"
        >
          <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

