.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.est-date {
  margin-top: -25px;
  font-size: 11px;
}
.benchmark-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  font-size: 11px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.change1m,
.change3m,
.change1y,
.change3y {
  margin-right: 32px;
}

.performance-label {
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}

.empty {
  margin-bottom: 49pxz;
}

.mat-elevation-z8 {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px; /* Adjust as needed for spacing between the table and other elements */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px; /* Adjust as needed for spacing between cell content and cell borders */
  text-align: left;
}

th {
  background-color: #f2f2f2; /* Background color for header cells */
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Alternate row background color */
}

.performance-table-header-cell {
  background: inherit;
  font-size: 14x;
}

.performance-table-cell {
  background: inherit;
  font-size: 12px;
}
