<div class="description">
    <div class="est-date">
        <p >Latest Estimation Date: {{ latestEstimationDate }}</p>
    </div>
    <div class="benchmark-info">
        <p>Benchmark is based on the average respective change of all funds</p>
    </div>
</div>
<div class="container">
     <!-- Graph -->
    <canvas #canvas id='canvas'>{{ performanceChart }}</canvas>
    <!-- Table -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Column definitions -->
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell class="performance-table-header-cell" *matHeaderCellDef>{{ column }}</th>
            <td mat-cell class="performance-table-cell" *matCellDef="let element">
                <!-- Include the bindings for title, change1m, change3m, change1y, and change3y -->
                <ng-container *ngIf="column === 'Details'">
                    {{ element.title }}
                </ng-container>
                <ng-container *ngIf="column === '1m'">
                    {{ element.change1m | number: '1.2-2' }}
                </ng-container>
                <ng-container *ngIf="column === '3m'">
                    {{ element.change3m | number: '1.2-2' }}
                </ng-container>
                <ng-container *ngIf="column === '1y'">
                    {{ element.change1y | number: '1.2-2' }}
                </ng-container>
                <ng-container *ngIf="column === '3y'">
                    {{ element.change3y | number: '1.2-2' }}
                </ng-container>
            </td>
        </ng-container>

        <!-- Header row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <!-- Data rows -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
