.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.est-date {
  margin-top: -26px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.change1m,
.change3m,
.change1y,
.change3y {
  margin-right: 32px;
}

.performance-label {
  display: flex;
  flex-direction: column;
  margin-right: 14px;
}

.empty {
  margin-bottom: 49pxz;
}
