<div #fundInfoData class="fund-info-data" id="{{fund.instrumentId}}" >
     <!-- Favourites -->
     <div class="fund-info-value favourite-container">
      <mat-icon *ngIf="isFavourite" class="fav-icon-remove" matTooltip="Remove from favourites" (click)="removeFromFav()">star</mat-icon>
      <mat-icon *ngIf="!isFavourite" class="fav-icon-add" matTooltip="Add to favourites" (click)="addToFav()">star_border</mat-icon>
    </div> 
    <!-- Fund Name -->
    <div class="fund-info-value  name-container">
      <div class="name">{{ fund.fundName }}</div>
      <div class="subtext">
        {{fund.isin}} . {{fund.fundType}} . {{fund.fundCompany}}
      </div>
    </div>
    <!-- Change1m -->
    <div class="fund-info-value" [ngClass]="{'positive-value': fund.change1m > 0, 'negative-value': fund.change1m < 0}">
      {{ fund.change1m || '-' }}
    </div>
    <!-- Change3m -->
    <div class="fund-info-value" [ngClass]="{'positive-value': fund.change3m > 0, 'negative-value': fund.change3m < 0}">
      {{ fund.change3m || '-' }}
    </div>
    <!-- Change1y -->
    <div class="fund-info-value" [ngClass]="{'positive-value': fund.change1y > 0, 'negative-value': fund.change1y < 0}">
      {{ fund.change1y || '-' }}
    </div>
    <!-- Change3y -->
    <div class="fund-info-value" [ngClass]="{'positive-value': fund.change3y > 0, 'negative-value': fund.change3y < 0}">
      {{ fund.change3y || '-' }}
    </div>
    <!-- Year High -->
    <div class="fund-info-value" [ngClass]="{'positive-value': fund.yearHigh > 0, 'negative-value': fund.yearHigh < 0}">
      {{ fund.yearHigh || '-' }}
    </div>
    <!-- Year Low -->
    <div class="fund-info-value" [ngClass]="{'positive-value': fund.yearLow > 0, 'negative-value': fund.yearLow < 0}">
      {{ fund.yearLow || '-' }}
    </div>
    <!-- Close Price -->
    <div class="fund-info-value">{{ fund.closePrice || '-' }}</div>
    <!-- Currency -->
    <div class="fund-info-value">{{ fund.currency }}</div>
    <!-- Close Price Date -->
    <div class="fund-info-value">{{ closePriceDate }}</div>
     <!-- View -->
     <div class="fund-info-value view-container"><mat-icon class="fund-info-value" (click)="onSelectedFund(fund)">keyboard_arrow_down</mat-icon></div>
</div>
<!-- Accordion for small viewport-->
<div *ngIf="isAccordionOpen" class="accordion">
  <app-fund-details></app-fund-details>
</div>
