.fund-info-value:not(:first-child) {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fund-info-data {
  cursor: pointer;
}

.fund-info-data:hover {
  background-color: #ffe67f;
}

.name {
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.subtext {
  font-size: 8px;
  color: black;
}

.positive-value {
  color: green;
}

.negative-value {
  color: #e3543e;
}

mat-icon {
  color: grey;
  display: flex;
  height: auto;
  width: auto;
}

.accordion {
  display: flex;
  flex-direction: column; /* Stack elements in a column on small screens */
}
