.fund-info-value {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fund-info-data {
  display: flex;
  font-size: 10px;
}

.favourite-container {
  margin: 0 15px 0 30px;
  flex: 0;

  mat-icon {
    cursor: pointer;
  }

  .fav-icon-remove {
    color: #ff9800;
  }
}

.view-container {
  margin: 0 30px 0 9px;
  flex: 0;

  mat-icon {
    cursor: pointer;
  }
}

.name-container {
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.fund-info-data:hover {
  background-color: #ffe67f;
}

.name {
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.subtext {
  font-size: 8px;
  color: black;
}

.positive-value {
  color: green;
}

.negative-value {
  color: #e3543e;
}

mat-icon {
  color: grey;
  display: flex;
  height: auto;
  width: auto;
}

.accordion {
  display: flex;
  flex-direction: column;
}

.even-row {
  background-color: #f3f3f3;
}

.odd-row {
  background-color: #e8e8e8;
}
