/* fund-list.component.css */
.fund-list {
  display: flex;
  border: 1px solid red;
  flex-direction: column;
  flex: 1;
}

.fund-info-labels {
  display: flex;
  border: 1px solid blue;
  margin: 5px;
}

.fund-info-label {
  flex: 1.5;
  font-weight: bold;
}

.fund-info-label:not(:first-child) {
  flex: 1;
}

.fund-info {
  display: flex;
  flex-direction: column;
  border: 3px solid orange;
  flex: 1;
}
