.fund-info-labels {
  color: white;
  background-color: #31353f;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.name {
  margin-left: 6px;
}

.subtext {
  margin-left: 6px;
  font-size: 8px;
  color: white;
  font-weight: lighter;
}
