<div class="fund-info-labels" *ngIf="filteredFunds">
  <div class="fund-info-label">
    <div class="name">Fund Name</div>
    <div class="subtext">ISIN. CURRENCY. TYPE. COMPANY</div>
  </div>
  <div class="fund-info-label">1m</div>
  <div class="fund-info-label">3m</div>
  <div class="fund-info-label">1y</div>
  <div class="fund-info-label">3y</div>
  <div class="fund-info-label">Perf. as of</div>
  <div class="fund-info-label">View</div>
</div>
<hr>

<div *ngFor="let fund of filteredFunds" class="fund-info">
  <app-fund [fund]="fund"></app-fund>
</div>

  