html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  font: 14px;
  line-height: 1em;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font: 14px;
  line-height: 1em;
}

.header-content {
  display: flex;
  flex-direction: column;
}

.mat-card-title {
  margin-bottom: 8px;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.fund-info-labels {
  display: flex;
  margin: 5px;
}

.fund-info-label {
  flex: 1.5;
  font-weight: bold;
}

.fund-info-label:not(:first-child) {
  flex: 1;
}

.fund-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.fund-info-data {
  display: flex;
}

.fund-info-value {
  flex: 1.5;
  margin: 5px;
  width: 100%;
}
