.mat-mdc-dialog-content {
  max-height: 65vh;
  max-width: 500px;
}

.fund-header {
  display: flex;
  background-color: #ffce00;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  .name {
    margin-bottom: -4px;
  }

  .subtext {
    font-size: 14px;
    color: #0f1014;
    font-weight: normal;
    margin-bottom: 19px;
  }
}

h1 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10px;
  margin-bottom: -5px;
  font-weight: bold;
}

.performance-header,
.documents-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.documents-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.document-item {
  flex: 0 0 calc(50% - 20px);
  text-align: center;
  display: flex;
  align-items: center;
}

.mat-icon {
  overflow: inherit;
}
a {
  text-decoration: none;
  color: black;
  font-size: 12px;
}

a:hover {
  text-decoration: underline;
  text-align: justify;
}

.close-btn {
  cursor: pointer;
  background-color: black;
  color: white;
}

.mat-mdc-dialog-actions.mat-mdc-dialog-actions-align-end,
.mat-mdc-dialog-actions[align="end"] {
  margin-top: -17px;
}

.graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
