<div class="fund-info-labels">
    <div class="fund-info-label">Fund Details</div>
</div>
<div class="fund-info">
    <div class="fund-info-data">
        <div class="fund-info-value type-name">
            <h4>{{selectedFund.fundType.toUpperCase()}}</h4>
            {{selectedFund.fundName}}
        </div>
        <div class="fund-info-value fund-header">
            <div class="fund-info-value price">
                <div>As of {{closePriceDate}} </div>
                <div>{{selectedFund.closePrice}}</div>
            </div>
        </div>
        <div class="fund-info-value performance">
            <div class="fund-info-value performance-header">
                <h1>Performance</h1>
            </div>
            <div class="fund-info-value graph">
                <app-graph></app-graph>    
            </div>
        </div>
        <div class="fund-info-value key-facts">
            
            <div class="fund-info-value facts-header">
                <h1>Key Facts</h1>
            </div>
           
        </div>
    </div>
    
<div>


