.fund-details-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.fund-details-value {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1.5px;
}

.fund-details-value {
  flex: 1;
  font-size: 10px;
  margin: 7px;
}

.fund-header {
  display: flex;
  background-color: #ffe67f;
  font-weight: bold;
  font-size: 25px;
  flex-direction: column;
  margin: 0;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  .name {
    margin: 8px;
  }

  .subtext {
    font-size: 10px;
    color: #0f1014;
    font-weight: normal;
  }
}

.performance-header,
.facts-header,
.documents-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.facts-table,
.facts-details-data {
  display: flex;
}

.facts-details-data {
  width: 465px;
}

.fact-info-labels {
  display: flex;
  margin: 7px;
  color: white;
  background-color: #31353f;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 465px;
}

.fact-info-label {
  flex: 1;
  font-weight: bold;
  font-size: 10px;
  margin: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10px;
  margin-bottom: -5px;
  font-weight: bold;
}

.facts-label {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}

.facts-value {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.documents-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 71px;
  margin-left: 128px;
}

.document-item {
  flex: 0 0 calc(50% - 20px);
  margin: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.mat-icon {
  overflow: inherit;
}
a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  text-align: justify;
}

hr {
  width: 66%;
}
